body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
  background-image: url('./Images/background-image.png');
  /* background-color: slategray; */
  background-repeat: no-repeat;
  background-size: cover;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width:100%;
  max-width: 500px;
}



/* NavBar */
.navigation {
  position: relative;
  flex-direction: row;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 25px;
  align-items: center;
}

.navigation li {
  text-decoration: none;
  list-style: none;
  font-weight: 300;
  margin-left: 50px;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
}

.navigation li:hover {
  color: white;
  font-weight: 500;
  background-color: #028007;
} 

/* SearchBar */
.searchbar {
  padding: 50px;
}  

/* Menu */

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu .content {
  display: flex;
  float: left;
  padding: 20px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  width: 380px;
  height: 750px;
  box-shadow: 0 5px 35px rgba(0,0,0,0.30);
  object-fit: cover;
  background-color: white;
}

.menu .content .box {
  width: 340px;
  margin: 20px;
  height: 600px;
  background-color: white;
}

.menu .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.menu .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  object-fit: cover;
}

.menu .content .box .text {
  padding: 15px 0 5px;
}

.menu .content .box .text h4 {
  font-weight: 400;
  color: #111;
}

#review-button{
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.submit-review-button{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.addToCart {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
}

.addToCart:hover {
  background-color: #00a005;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
  letter-spacing: 0.7px;
  transition: 0.3s ease-in;
}

.addToCartButtonDiv {
  padding: 5px;
}

/* form Component */
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: #f2f2f2;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.new-food-button{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.new-food-button:hover {
  background-color: #45a049;
}

.formContainer {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.like {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Shopping Cart */

.shopping-cart-container{
    max-width: 1200px;
    margin: 0 auto;
}

.shopping-cart-container > h1 {
    padding: 20px 0;
}

.cart {
  display: flex;
}
.products {
    flex: 0.75;
}
.product {
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 20px;
    background-color: white;
}

.product:hover {
    border: none;
    box-shadow: 2px 2px 4px rgbs(0,0,0,0.5);
    transform: scale(1.01);
}

.product > img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.product > img:hover {
    transform: scale(1.04);
}

.product-info {
    padding: 20px;
    width: 100%;
    position: relative;
    text-align: left

}
.product-Name, product-price {
    margin-bottom: 20px;
}
.product-remove {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color : green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.product-remove:hover {
    background-color: white;
    color: green;
    font-weight: 600;
    border: 1px solid green;
}

.product-quantity > input {
    width: 40px;
    padding: 5px;
    text-align: center;
}

.fa {
    margin-right: 5px;
}

.cart-total {
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 270px;
    border: 1px solid silver;
    border-radius: 5px;
    position: relative;
    background-color: white;
}

.cart-total p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
}

.cart-total button {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: tomato;
    color: white;
    text-decoration: none;
    /* position: absolute; */
    /* bottom: 20px;
    right: 20px; */
}

.cart-total button:hover{
    background-color: red;
}

@media screen and (max-width:700px) {
    .remove {
        display: none;
    }
    .product {
        height: 150px;
    }
    .product > img {
        height: 150px;
        width: 200px;
    }
    .product-name, .product-price{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 900px) {
    .cart{
        flex-direction: column;
    }
    .cart-total {
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1220px) {
    .shopping-cart-container {
        max-width: 95%;
    }
}

/* HomePage */
.logo {
  color: #05addf;
  font-size: 1.25em;
  font-family: Helvetica;
  margin-right: 0.5rem;
}

.home-page .full-logo .flatiron {
  margin: 0px;
  padding: 0px;
  color: #4d4e55;
}

.home-page .full-logo .eats {
  padding: 0px;
  margin: 0px;
  color: #00c444;
}

.home-page h3{
  font-family:'Fira Code', monospace;
  margin: 20px;
  padding: 5px; 
}

.top-logo {
  width: 50%;
  height: auto;
}

.side-logo{
  justify-content: left;
  display: flex;
  float: left;
  /* width: 125px;
  height: 70px;
  object-fit: cover; */
}

.footer-logo {
  height: 500px;
  position: relative;
}

.footer-logo .bottom-logo{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
} 

.underline {
  border-bottom-width: 2px;
}

/* Home Page Button */
.homePageLink {
  background-color: #05addf;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 400;
}

.homePageLink:hover {
  background-color: #005aa9;
}

.hpLinks {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0 25%;
}
